@import "theme.css";

body{
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

#wrapper {
  display: flex;
}

#project-title {
    flex: 1;
    vertical-align : middle;
    line-height: 50px;
}

.wy-side-nav-search{
    background-color: #b81420;
}

.wy-side-nav-search img{
    background-color : #b81420;
    padding: 0;
    border-radius: 0;
}

.wy-nav-side{
    background: #454545;
}

.wy-nav-content{
    background: white;
}

.wy-nav-top {
    background : #b81420;
}

.wy-side-nav-search a:link {color: white;} /* unvisited link */
.wy-side-nav-search a:visited {color: white;} /* visited link */
.wy-side-nav-search a:hover {color: white;} /* mouse over link */
.wy-side-nav-search a:active {color: white;} /* selected link */